.boardbox {
    margin: 0vh;
}

img {
    width: 100%;
}

.col-md-1 {
    height: 12vh;
    cursor: pointer;
}

.positive {
    background-color: rgb(12, 116, 58);
}

.negative {
    background-color: rgb(187, 223, 226);
}